{% extends 'tasks/base.html' %}
{% block content%}
{% load crispy_forms_tags %}
<br>


<br>
<!-- contraseña=12345 superuser=benja correo=admin@admin.com-->
<form action="" method="post">
    {% csrf_token %}

    <div class="card mx-auto" style="width: 30rem;">
      <div class="card-body">
        
        <h5 class="card-title">Recuperar Contraseña</h5> {{ form.email }}
        <label for="id_email">Correo:</label>
        
       
        <button class="btn btn-sm btn-primary float-end" type="submit">Registrarse</button>
      </div>
    </div>
</form>

{% endblock %}