{% extends 'tasks/base.html' %}
{% block content%}
{% load crispy_forms_tags %}

{%if validlink %}
<h1>Nueva contraseña</h1>

<form action="" method="post">
    {% csrf_token %}

    <div class="card mx-auto" style="width: 30rem;">
      <div class="card-body">
        
        <label for="id_new_password1">Nueva Contraseña:</label>
        {{form.new_password1}}
        <br>
        {{form.new_password2.errors}}
        <label for="id_new_password2">Confirme contraseña</label>
        <button class="btn btn-sm btn-primary float-end" type="submit">Cambiar contraseña</button>
        {{form.new_password2}}
        
        
      </div>
    </div>
{% else %}
<h1 class="text-center">ENLACE INVALIDO: ESTE ENLACE YA HA SIDO UTILIZADO</h1>
</form>