{% extends 'tasks/base.html' %}
{% block content%}
{% load static %} 
{% load crispy_forms_tags %}


<!-- contraseña=12345 superuser=benja correo=admin@admin.com-->
<form action="" method="post">
   {%csrf_token%}
   
      
      <div class="card mx-auto bg-dark" style="width: 40rem; border-radius: 1rem; border-color: #ffffff; margin: 8rem 3rem;">
        <div class="row g-0">
          <div class="col-md-6 order-md-2 d-flex align-items-center justify-content-center">
            <img src="{% static "/img/login_img.png" %}" alt="Imagen" class="img-fluid" style="max-width: auto; height: auto;
            border-radius: 10px; margin: 1rem ;">
          </div>
          <div class="col-md-6 order-md-1">
            <div class="card-body">
              <h4 class="card-title text-white">Iniciar Sesión</h4>
              <div id="div_id_username" class="mb-3 text-white">
                <label for="div_id_username" class="form-label requiredfield">Nombre de Usuario</label>
                <span class="asteriskField">*</span>
                <input type="text" name="username" autofocus autocapitalize="none" autocomplete="username" maxlength="150" class="textinput form-control" required id="id_username">
              </div>
             <div id="div_id_password" class="mb-3 text-white">
                <label for="id_password" class="form-label requiredField">Contraseña</label>
                <span class="asteriskField">*</span>
                <input type="password" name="password" autocomplete="current-password" class="passwordinput form-control" required id="id_password">
             </div>
             <div class="mb-3 text-white" style="margin: 2rem 0rem;">
              <a href={% url 'register' %} class="card-link text-white">Registrarse</a>
              <br>
              <a href={% url 'password_change' %} class="card-link text-white">Olvidé mi Contraseña</a>
              <br><br>
             </div>
              <button type="submit" class="btn btn-sm btn-primary float-end" style="margin: 1rem 1rem;">Iniciar sesión</button>
              <br><br>
            </div>
          </div>
        </div>
      </div>
</form>
{% endblock %}