{% extends 'tasks/base.html' %}
{% load static %} 
{% block content%}
<html lang="es">
<head>
    <link href="{% static "/css/nosotros.css" %}" type="text/css" rel="stylesheet" media="screen,projection" />  
</head>


<body>
    <div class="container1  mb-5 d-flex  justify-content-center vh-auto align-items-center">
        <div >
          <p>
            <h2>Nosotros</h2>
            <h4>Que tal somos los creadores de esta app llamada PetHistorial la cual es creada por 
              3 futuros ingenierios en informatica de Inacap
              , la cual tiene como objetivo ayudar a los dueños de mascotas a llevar un control de sus mascotas y
             sus visitas al veterinario.
            </h4>
              
            <br>
            <br>  
            </h3>

              <h3>Juan Novoa </h3>
              <h3>John Montoya</h3>
              <h3>Benjamin Guajardo </h3>

              <br>
            <img src="{% static "/img/Inacap.png" %}" alt="" width="30" height="24" class="d-inline-block align-text-top">
            INACAP sede apoquindo
          </p>
        </div>
        
      </div>
</body>

</html>
{% endblock %}